@font-face {
  font-family: "maplestory";
  src: url("Maplestory OTF Bold.otf") format("opentype");
}

body {
  font-family: "maplestory", sans-serif;
  background-image: url("img/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#character-sel {
  height: 40px;
  width: 300px;
  align-content: space-between;
  font-size: x-large;
  margin-bottom: 10px;
  margin-left: 30px;
  display: block;
  float: left;
}

#character-label {
  width: 150px;
  margin: 15px 10px 10px 10px;
}

#select-character {
  height: 30px;
  width: 120px;
  font-size: large;
  /*margin: 5px;*/
  text-align: center;
  font-family: maplestory, sans-serif;
}

#start-btn {
  display: inline-block;
  width: 90px;
  height: 32px;
  float: left;
  margin: 0 10px 5px 10px;
  font-size: x-large;
}

#score-board {
  display: inline-block;
  float: left;
  margin: 5px 5px 5px 5px;
  font-size: x-large;
}

#bomb {
  height: 10px;
  width: 200px;
  font-size: xx-large;
  position: fixed;
  left: 10px;
  color: white;
}

#bomb-pic {
  position: absolute;
  transition: all 1s;
  opacity: 0;
  z-index: 5;
}
#audio {
  height: 10px;
  width: 200px;
  font-size: large;
  position: fixed;
  left: 10px;
  color: white;
}

#bgm-btn {
  font-family: "maplestory", sans-serif;
  display: inline-block;
  float: left;
  margin: 0 10px 5px 10px;
  font-size: x-large;
}

#skill-zone {
  height: 30px;
  width: 200px;
  font-size: xx-large;
  position: fixed;
  left: 10px;
  color: white;
}

.danger {
  background-color: rgba(182,0,0,0.6);
}
