@font-face {
  font-family: "maplestory";
  src: url("Maplestory OTF Bold.otf") format("opentype");
}

body {
  background-image: url("img/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#select-character {
  height: 30px;
  width: 100px;
  font-size: large;
  text-align: center;
}
canvas {
  position: relative;
}

#score-board {
  float: left;
  margin: 5px 5px 5px 55px;
  font-size: x-large;
  color: white;
}

#show-menu{
  display: inline-block;
  margin-left: 115px;
  margin-top: 0;
}

#bomb {
  height: 10px;
  width: 200px;
  font-size: xx-large;
  position: fixed;
  left: 10px;
  color: white;
}

#bomb-pic {
  position: absolute;
  transition: all 1s;
  opacity: 0;
  z-index: 5;
}

#skill-zone {
  height: 30px;
  width: 220px;
  font-size: xx-large;
  text-align: right;
  position: fixed;
  left: 10px;
  color: white;
}

.danger {
  background-color: rgba(182,0,0,0.6);
}
